<ion-tabs class=" tabs-positive tabs-icon-only "  delegate-handle="main-tabs">

    <ion-tab title="发现" icon="icon ion-home" href="#/app/discover" ng-click="tabClick(0)"    on-select="setCurrentTab(0)" on-deselect="broadcastTabChange(0)"  >

        <!-- 返回按钮 -->
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-icon icon ion-chevron-left blue-white-btn no-hover">
            </ion-nav-back-button>
        </ion-nav-bar>

            <ion-nav-view name="tab-discover"></ion-nav-view>
    </ion-tab>

    <ion-tab title="个人" icon="icon ion-person" href="#app/profile" ng-click="tabClick(1)"  on-select="setCurrentTab(1)" on-deselect="broadcastTabChange(1)">

        <!-- 返回按钮 -->
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-icon icon ion-chevron-left blue-white-btn no-hover">
            </ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>

</ion-tabs>